{%extends 'base.html'%}
{%block 'titulo'%}Cadastro de Clientes{%endblock%}
{%block 'conteudo'%}
<a href="{% url 'lista_reservas' %}"><button style="height: 50x; width: 150px; position: absolute; margin-top: calc(100vh - 120px);margin-left: calc(100vw - 180px) " class="btn btn-dark">Ver Reservas</button>
</a>
<div style="align-items: center; text-align: center; display: flex; justify-content: center; flex-direction: column;margin-top: 100px">
  <h1>Cadastrar nova Reserva</h1>
  <form method="post" action="{% url 'fazer_reserva'%}">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Cliente: </label>
      <select style="height: 50x; width: 500px;"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="cliente" >
        {% for pessoa in dados%}
          <option value="{{pessoa.id}}">{{ pessoa.name }} - {{pessoa.cpf}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Data e Hora de Reserva:</label>
      <input style="height: 50x; width: 500px" type="datetime-local" class="form-control" id="exampleInputName" aria-describedby="nomeHelp" name="data"  placeholder="Nome Completo">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Data e Hora de Saida:</label>
      <input style="height: 50x; width: 500px" type="datetime-local" class="form-control" id="exampleInputName1" aria-describedby="nomeHelp" name="data2"  placeholder="Nome Completo">
    </div>
    <label for="exampleInputEmail1">Quarto</label>
    <select style="height: 50x; width: 500px;"  class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" name="quarto">

        {% for quartos in dados2%}
          <option value="{{quartos.id}}">{{ quartos.identifica }}</option>
        {% endfor %}
      </select>
    <br/>
    <button style="height: 50x; width: 200px;" type="submit" class="btn btn-primary">Fazer Reserva</button>
  </form>
</div>

{%endblock%}
